<!-- {% assign words = include.spellword | split: '_' %}
{% capture heading %}
  {% for word in words %}
    {{ word | downcase }}
  {% endfor %}
{% endcapture %}

<h2>{{heading}}</h2>
{% for spell in site.spells %}
  {% if spell.path contains include.spellword %}
  * [{{spell.title | downcase | split: "_" | join: " " }}]({{site.baseurl}}{{spell.url}})
  {% endif %}
{% endfor %} -->

{% assign words = include.spellword | split: '_' %}
{% capture heading %}
  {% for word in words %}
    {{ word | downcase }}
  {% endfor %}
{% endcapture %}

<h2>{{heading}}</h2>
{% for spell in site.spells %}
  {% assign display_name = spell.title | downcase | split: "_" | join: " " %}
  {% assign file_name = spell.title | downcase | append: '.md' %}
  {% assign filepath = include.spellword | prepend: '/' | append: '/' | append: file_name %}
  {% if spell.path contains filepath %}
  * [{{display_name}}]({{site.baseurl}}{{spell.url}})
  {% endif %}
{% endfor %}

